/* نفس الخلفية بتاعة المشروع */
.reset-wrapper {
  background-color: #bfa1eb;
}

.reset-card {
  border-radius: 16px;
}

.btn-purple {
  background-color: #6342b4;
  border: none;
}

.btn-purple:hover {
  background-color: #4f3395;
}

.text-purple {
  color: #6342b4;
}