PORT=3000

OAUTH_REDIRECT_BASE=http://localhost:3000

MONGODB_URI=mongodb+srv://user:password@cluster0.example.mongodb.net/cloud_file_dashboard

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DROPBOX_CLIENT_ID=
DROPBOX_CLIENT_SECRET=
