/* background color */
.forgot-wrapper {
  background-color: #bfa1eb; 
}

/* card */
.forgot-card {
  border-radius: 24px;
}

/* button */
.btn-purple {
  background-color: #6342b4;
  border: none;
  transition: all 0.3s ease;
}

.btn-purple:hover {
  background-color: #4f3395;
}

/* link color */
.text-purple {
  color: #6342b4;
}

/* background image */
.left-side-bg img {
  max-height: 100%;
  min-height: 100%;
}

/* input styling */
.input-group-text, .form-control {
  border-color: #e2e8f0;
}

.form-control:focus {
  border-color: #6342b4;
}